
body{border: 5px dotted black; background-color: darkgrey; font-size: 16px; color: white; margin: 30px; padding: 20px}
h1{text-align: center; color: black; font-weight: bold; text-decoration: underline;}
